/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 5px
  
  
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* Подключаем шрифт Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Основной цвет */
:root {
  --primary-main: #FF881A;
  --secondary-main: #FFD231;
  --success-main: #4886FF;
  /* --info-main: #FFFFFF; */
  --error-main: #FFF1C2;
  --font-family: 'Poppins', sans-serif;
}

/* Типографика */
h3 {
  font-weight: 500;
  font-family: var(--font-family);
}

h6 {
  font-weight: 400;
  font-family: var(--font-family);
}

/* Общий стиль для всех MuiTypography */
.MuiTypography-root {
  color: var(--info-main);
  font-family: var(--font-family);
}

/* Кнопки MuiButton */
.MuiButton-root {
  text-transform: capitalize;
}


.component_mb {
  @apply mb-10 max-sm:5;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

    padding-left: 0.8rem ;
    padding-right: 0.8rem ;

}